.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetBlogTitle {
  font-family: "Eczar", serif;
  font-size: 24px /* plasmic-token: 2irGQlZMXSZ */;
  font-weight: 900;
  color: #def5ef /* plasmic-token: laHq5-I0V */;
}
.slotTargetPostTitle {
  font-family: "Eczar", serif;
  font-size: 32px /* plasmic-token: z6thUbBJR4R */;
  font-weight: 800;
  color: #ffffff /* plasmic-token: 5-k7GM_Yx */;
}
.slotTargetDate {
  font-size: 12px /* plasmic-token: vm7bpLAKxwh */;
  font-family: "IBM Plex Sans", sans-serif;
  color: #def5ef /* plasmic-token: laHq5-I0V */;
}
