.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 1rem);
  width: calc(100% + 1rem);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 1rem;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .root > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-left: calc(0px - 0.1em);
    width: calc(100% + 0.1em);
    margin-top: calc(0px - 0.25em);
    height: calc(100% + 0.25em);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0.1em;
    margin-top: 0.25em;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .root {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .root > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    min-width: 0;
    margin-left: calc(0px - 0.1em);
    width: calc(100% + 0.1em);
    margin-top: calc(0px - 0.25em);
    height: calc(100% + 0.25em);
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0.1em;
    margin-top: 0.25em;
  }
}
.text___1NMjT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-family: "Eczar", serif;
  font-size: 2rem;
  font-weight: 700;
}
.freeBox__pI7F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__pI7F {
    align-items: center;
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-column-gap: 0px;
  }
}
.link__kYzmB {
  background: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 75%;
  box-shadow: none;
  margin-right: 0px;
  border-radius: 16px;
  padding: 5px;
}
.link__kYzmB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.link__kYzmB > :global(.__wab_flex-container) > *,
.link__kYzmB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kYzmB > :global(.__wab_flex-container) > picture > img,
.link__kYzmB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__kYzmB {
    background: none;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 75%;
    box-shadow: none;
    margin-right: 0px;
    border-radius: 16px;
    padding: 5px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__kYzmB > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__kYzmB > :global(.__wab_flex-container) > *,
  .link__kYzmB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__kYzmB > :global(.__wab_flex-container) > picture > img,
  .link__kYzmB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBox__t2VNb {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__t2VNb {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-row-gap: 0px;
    border-radius: 8px;
    padding: 0px;
  }
}
.text__kgREl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__kgREl {
    font-size: 1em;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.freeBox__oXOcF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oXOcF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__oXOcF > :global(.__wab_flex-container) > *,
.freeBox__oXOcF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oXOcF > :global(.__wab_flex-container) > picture > img,
.freeBox__oXOcF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__oXOcF {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__oXOcF > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__oXOcF > :global(.__wab_flex-container) > *,
  .freeBox__oXOcF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oXOcF > :global(.__wab_flex-container) > picture > img,
  .freeBox__oXOcF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.text___8Bsgd {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 28px;
  border-bottom: 1px solid #def5ef;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___8Bsgd {
    font-size: 0.75em;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #def5ef;
  }
}
.copyableLink___01Dwn:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 800px) {
  .copyableLink___01Dwn:global(.__wab_instance) {
    position: relative;
    display: none;
  }
}
.freeBox__mAsVt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__mAsVt {
    align-items: center;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-column-gap: 0px;
  }
}
.link__njyQn {
  background: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  box-shadow: none;
  margin-right: 0px;
  border-radius: 16px;
  padding: 5px;
}
.link__njyQn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.link__njyQn > :global(.__wab_flex-container) > *,
.link__njyQn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__njyQn > :global(.__wab_flex-container) > picture > img,
.link__njyQn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__njyQn {
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: none;
    margin-right: 0px;
    border-radius: 16px;
    padding: 5px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__njyQn > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__njyQn > :global(.__wab_flex-container) > *,
  .link__njyQn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__njyQn > :global(.__wab_flex-container) > picture > img,
  .link__njyQn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBox__dx4Ep {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.text___9Rm6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___9Rm6 {
    font-size: 1em;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.freeBox___1DI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1DI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1DI > :global(.__wab_flex-container) > *,
.freeBox___1DI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1DI > :global(.__wab_flex-container) > picture > img,
.freeBox___1DI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___013H5 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 28px;
  border-bottom: 1px solid #def5ef;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___013H5 {
    font-size: 0.75em;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #def5ef;
  }
}
.copyableLink___0JTd:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 800px) {
  .copyableLink___0JTd:global(.__wab_instance) {
    position: relative;
    display: none;
  }
}
.freeBox__mHtEt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__mHtEt {
    align-items: center;
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-column-gap: 0px;
  }
}
.link__qpzgf {
  background: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 75%;
  box-shadow: none;
  margin-right: 0px;
  border-radius: 16px;
  padding: 5px;
}
.link__qpzgf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.link__qpzgf > :global(.__wab_flex-container) > *,
.link__qpzgf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qpzgf > :global(.__wab_flex-container) > picture > img,
.link__qpzgf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cbLec {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.text__aFxAx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__aFxAx {
    font-size: 1em;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.freeBox__eghJp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eghJp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__eghJp > :global(.__wab_flex-container) > *,
.freeBox__eghJp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eghJp > :global(.__wab_flex-container) > picture > img,
.freeBox__eghJp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__uRdGa {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 28px;
  border-bottom: 1px solid #def5ef;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__uRdGa {
    font-size: 0.75em;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #def5ef;
  }
}
.copyableLink__csas5:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 800px) {
  .copyableLink__csas5:global(.__wab_instance) {
    position: relative;
    display: none;
  }
}
.freeBox___8MIxG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___8MIxG {
    align-items: center;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-column-gap: 0px;
  }
}
.link___4Ndgz {
  background: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  box-shadow: none;
  margin-right: 0px;
  border-radius: 16px;
  padding: 5px;
}
.link___4Ndgz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.link___4Ndgz > :global(.__wab_flex-container) > *,
.link___4Ndgz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___4Ndgz > :global(.__wab_flex-container) > picture > img,
.link___4Ndgz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link___4Ndgz {
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: none;
    margin-right: 0px;
    border-radius: 16px;
    padding: 5px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link___4Ndgz > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .link___4Ndgz > :global(.__wab_flex-container) > *,
  .link___4Ndgz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___4Ndgz > :global(.__wab_flex-container) > picture > img,
  .link___4Ndgz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBox__oyNp {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.text__kEdVh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__kEdVh {
    font-size: 1em;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.freeBox___6Tmr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___6Tmr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___6Tmr > :global(.__wab_flex-container) > *,
.freeBox___6Tmr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Tmr > :global(.__wab_flex-container) > picture > img,
.freeBox___6Tmr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__sNNt8 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 28px;
  border-bottom: 1px solid #def5ef;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__sNNt8 {
    font-size: 0.75em;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #def5ef;
  }
}
.copyableLink__hltF:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 800px) {
  .copyableLink__hltF:global(.__wab_instance) {
    position: relative;
    display: none;
  }
}
